<div class = "container">
  <div class="row">
    <div class="col-xs-12 name-single-show"><%= @embroderies.name %></div>
    <div class="row">
      <div class="col-xs-12 wrap-show-img">
        <%= image_tag @embroderies.image, class: "img-single-show" %>
        <div><%= link_to 'DELETE', (@embrodery),
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %></div>
      </div>
    </div>
  </div>
</div>
