<div class = "container">
  <div class="row wrapper">
    <div class="col-md-6 name-single-show navbar-left"><%= @embroderies.name %></div>
    <div class = "col-md-6 navbar-right">
      <%= link_to 'BACK', :back, class: "back-btn btn4" %>
      <%= link_to 'DELETE', (@embrodery),
                 method: :delete,
                 data: { confirm: 'Are you sure?' }, class: "delete-btn btn4" %>
    </div>
    <div class="row">
      <div class="col-md-12 wrap-show-img">
        <%= image_tag @embroderies.image, class: "img-single-show" %>
      </div>
    </div>
  </div>
</div>
