<div class = 'bg-about bg container'>
  <div class = "row">
    <div class = "col-md-12">
      <div class = "wraped-about">
        <!-- <h2>About</h2> -->
        <p><span>VEZBA</span> is an idea isnpired of the richness of the Bulgarian Embroidery.
        This is the first online collection for embroidery models.
        Everyone is welcome to share and to download all the available embroderies. </p>

        <h3>About the Bulgarian Embroidery</h3>
        <p>Bulgarian embroidery in the form we know it, although very few of many, are shaped by the time of Avitohal untill the rule of Kubrat. Тhere is enshrined in them the symbols of the Bulgarian runic alphabet, created before 2500 - 2600 years. In the following centuries they retain their form, enriched with new interpretations and thus to enslave the bulgarians by the Ottomans.</p>
        <p>Embroideries in the life of the Bulgarians from the ordinary people to the kings, they have replaced the recorded history of the genus, and for the ordinary people they have showed the social status, the occupation, place in power.</p>
        <p>Each Bulgarian embroidery carries a message that has a different meaning depending on the location, which is embroidered on the garment belt, belt, sleeve, collar.</p>
        <p>And in the first and in the Second Bulgarian Kingdom was a nobleman who was responsible for embroideries and for innovation. In the clothes of our ancestors it was not possible to have just any beautiful embroideries. Even the shape of the stitches of embroidery that could be and embroidery on embroidery, means something quite specific.</p>
      </div>
    </div>
  </div>
</div>
