<div class = 'container bg'>
  <div class = "row">
    <div class = "col-xs-12">
      <h1>ABOUT US</h1>
      <p>VEZBA is an idea isnpired of the richness of the bulgarian embrodery.</p>
      <p>This is the first online library for embrodery models. </p>
      <p>Everyone is welcome to share and to download all the available embroderies. </p>
    </div>
  </div>
</div>
