<div class = 'bg-about bg container'>
  <div class = "row">
    <div class = "col-md-12">
      <div class = "wraped-about">

        <%= t('about.html') %>
        
      </div>
    </div>
  </div>
</div>
