<div class = "bg-div bg container-fluid">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-5">
        <h1 class = "p-home">Bulgarian embroidery possess the power of the sun, the colors of the earth and the richness of the bulgarian soul.</h1>
        <!-- <h1 class = "p-home">Шевиците притежават силата на слънцето, багрите на земята и богатството на българската душa.</h1> -->
      </div>
    </div>
  </div>
</div>
