<div class = "container-fluid">
  <div class = "container">
    <div class = "row clearfix">
      <div class = "col-md-12">
        <div class = "p-home">
          <h1 class = "main-title"><span>"Bulgarian Embroidery</span> possess the power of the <span>sun</span>, the colors of the <span>earth</span> and the richness of the bulgarian <span>soul.</span>"</h2>
        </div>
      </div>
      <div class = "col-md-12">
        <div class = "bg-div">
          <%= image_tag ("horo1.JPG"), class: "img-div" %>
        </div>
      </div>
    </div>
  </div>
</div>
