<div class = "container-fluid">
  <div class = "container">
    <div class = "row clearfix">
      <div class = "col-md-12">
        <div class = "p-home">
          <h1 class = "main-title">Bulgarian Embroidery</h1>
          <h1 class = "sub-title">"It possess the power of the sun, the colors of the earth and the richness of the bulgarian soul."</h1>
          <!-- <div>
            <%= link_to "Find out more", home_about_path, class: "button-more button1" %>
          </div> -->
        </div>
      </div>
      <div class = "col-md-12">
        <div class = "bg-div">
          <%= image_tag ("horo1.JPG"), class: "img-div" %>
        </div>
      </div>
    </div>
  </div>
</div>
