<div class = "bg-div bg container-fluid">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-5">
        <div class = "p-home">
          <h1 class = "main-title">Bulgarian embroidery</h1>
          <h1 class = "sub-title">It possess the power of the sun, the colors of the earth and the richness of the bulgarian soul.</h1>
          <div>
            <%= link_to "Find out more", home_about_path, class: "button-more button1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
