<div class = "container-fluid">
  <div class = "container">
    <div class = "row clearfix">
      <div class = "col-md-12">
        <div class = "p-home">
          <%= t ('home.html') %>
        </div>
      </div>
      <div class = "col-md-12">
        <div class = "bg-div">
          <%= image_tag ("horo1.JPG"), class: "img-div" %>
        </div>
      </div>
    </div>
  </div>
</div>
