.wraped-about {
  margin-top: 60px;
  background-color: white;
  color: #ea3838;
  border-radius: 3px;
  border: solid 2px #ea3838;
  padding: 80px;
  font-size: 16px;
  text-align: justify;
}

.wraped-about > h3 {
  font: normal 24px 'Kankin';
  margin-top: 30px;
}

.wraped-about > p > span {
  font: normal 24px 'Kankin';
  margin-top: 0px;
}

.wraped-about > p {
  font: normal 19px/25px Open Sans;
}
