.bg-about {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: image-url("horo1.JPG");
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}

.wraped-about {
  margin-top: 60px;
  background-color: #ea3838;
  color: white;
  padding: 80px;
  font-size: 16px;
  text-align: justify;
}

.wraped-about > h2 {
  margin-top: 0px;

}
