// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-div{
  overflow: hidden;
  position: relative;
  height: 445px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: default;
}

.img-div {
  width: 105%;
  position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
}

.p-home {
  margin-top: 60px;
  background-color: #ea3838;
  color: white;
  height: 180px;
}

.main-title {
  float:left;
  line-height: 1.1;
  font-family: 'Kankin';
  font-size: 50px;
  margin: 40px 0 0 40px;
}

.sub-title {
  float: left;
  font-family: Open sans;
  font-size: 20px;
  line-height: 1.5;
  margin: 10px 0 0 40px;
}

.button-more {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 4% 6% 4% 6%;
  border-radius: 2px;
  margin: 10% 15% 0 15%;
  text-transform: uppercase;
}

.button1 {
  background-color: #ea3838;
  color: white;
  border: solid 1px white;
}

.button1:hover {
  text-decoration: none;
  background-color: white;
  color: #ea3838;
}

.link-text-more {
  color: white;
}

.link-text-more {
  color: white;
}
