// Place all the styles related to the regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "autentication.scss";
@import "home.scss";
@import "show.scss";
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre|Prompt|Rubik');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700,300italic,300,400italic,600italic,700italic,800italic&subset=latin,cyrillic);
@font-face {
  font-family: 'Keson Sans Bold BG';
  src:url('Kelson Sans Bold BG.otf');
}

html {
  position:relative;
  min-height: 100%;
}

body {
  background: #efefef;
  text-align: center;
}

.navbar{
  margin-bottom: 0px;
  z-index: 10;
}

.navbar-default {
  background-color: white;
  border-color: white;
  box-shadow: 0 0 22px #ddd;
}

.navbar-nav > li {
  float: left;
  margin: 0 12px 0 12px;
  font-size: 16px;
  font-family: Open Sans;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ea3838;
}

.bg {
  height: 1200px;
}

.footer {
  background-color: #ea3838;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:100px;
}

.brand {
  margin-top: 2%;
  width: 50%;
}

.button-user {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20%;
  font-size: 16px;
  font-family: Open Sans;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn3 {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn3:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.notice {
  margin: 0 0 20px;
}

.wrap-div-region {
  margin-bottom: 100px;
}

.wrap-div {
  // padding: 30px 30px 30px 20px;
  background-color: white;
  border-radius: 3px;
  margin-top: 30px;
  // border: 1px solid #ddd;
}

.region-div {
  padding-left: 0;
}

.box-img-text {
  background-color: white;
  border-radius: 2px;
  margin: 10px
}


// HOOVER REGION EFFECT

.hovereffect {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 65px;
	background: #ea3838;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.img-responsive-region {
  width: 100%;
  display: block;
  position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover .img-responsive-region {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect .link-name {
  color: white;
  text-transform: uppercase;
  font-family: Open Sans;
  font-size: 20px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.hovereffect:hover .overlay,
.hovereffect:hover .link-name,
{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover .link-name {
  text-decoration: none;
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

// ---


.region-container{
  margin-top: 40px;
}

.text-box-region {
  text-align: left;
}

.region-name {
  font-size: 20px;
  text-transform: uppercase;
  font-family: Open Sans;
  color: white;
}

.region-name:hover {
  text-decoration: none;
  color: white;
}

.div-show {
  overflow: hidden;
  position: relative;
  width: 280px;
  height: 280px;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  cursor: default;
}

.img-show {
  width: 100%;
  display: block;
  position: relative;
}

// ---

.wraped-imgs {
  margin-bottom: 120px;
}

.all {
  float: left;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  margin-top: 60px;
}

.ul-list {
  background-color: white;
  padding-left: 0px;
  margin: 0% 1% 4% 1%;
}

.e-name {
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
}

// BUTTONS

.button-add {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 3% 4% 3% 4%;
  margin-right: 60%;
  font-size: 16px;
  font-family: Open Sans;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn1 {
  background-color: #4CAF50;
  color: white;
}

.btn1:hover {
  text-decoration: none;
  background-color: white;
  color: #4CAF50;
  border: 1px solid #4CAF50;
}

.button-show {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5% 8% 5% 8%;
  margin-top: 30%;
  font-size: 16px;
  font-family: Open Sans;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn2 {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn2:hover {
  text-decoration: none;
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
}

.add-wrap-div {
  padding: 200px 0 300px 0;
  background-color: white;
}
