// Place all the styles related to the regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "autentication.css.scss";
@import "about.css.scss";
@import "home.css.scss";
@import "show.css.scss";
@import "modal.css.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700,300italic,300,400italic,600italic,700italic,800italic&subset=latin,cyrillic);
@font-face {
  font-family: 'Kankin';
  src:url('Kankin.otf');
}

html {
  position:relative;
  min-height: 100%;
}

body {
  background: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.navbar {
  margin-bottom: 0px;
  z-index: 10;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.nav-menu-middle {
  width: 100%;
  text-align: center;
}

.navbar-right {
  margin-right: 10px;
}

.nav-menu-right > li{
  float: none;
  display: inline-block;
}

.nav-menu-middle > li {
  float: none;
  display: inline-block;
  margin: 0 12px 0 12px;
  font-size: 22px;
  font-family: Kankin;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: white;
}

.menu-btn {
  background-color: white;
  color: #ea3838;
}

.menu-btn:hover, .menu-btn:active {
  color: #00ce0a;
  background-color: white;
  text-decoration: none;
}

.menu-btn.current {
  color: #00ce0a;
}

.brand {
  margin-top: 1%;
  width: 50%;
}

.button-user {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 20%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  font-family: Open Sans;
  color: #ea3838;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn3 {
  padding: 12px;
  background-color: white;
  border: 2px solid #ea3838;
}

.btn3:hover {
  text-decoration: none;
  background-color: #ea3838;
  color: white;
}

.social-btn {
  text-decoration: none;
  margin: 0 2px 0 2px;
  background-color: #ea3838;
  color: white;
  border-radius: 3px;
  padding: 6px 14px 10px 14px;
  border: 2px solid #ea3838;
  font-size: 25px;
  font-weight: bold;
}

.social-btn:hover {
  text-decoration: none;
  background-color: #00ce0a;
  color: white;
  border: 2px solid #00ce0a;
}

.notice {
  margin: 0 0 20px;
}

.wrap-div-region {
  margin-bottom: 100px;
}

.region-div {
  padding-left: 0;
  padding-right: 0;
}

.box-img-text {
  background-color: white;
  border-radius: 2px;
  margin: 10px
}

.img-responsive-region {
  width: 100%;
}

.hovereffect {
  margin-bottom: 25px;
}

.hovereffect a:hover { text-decoration: none; }


.overlay {
  border-top: 0 none;
  transition: all 0.2s;
  background-color: #ea3838;
  font-family: 'Kankin';
  font-size: 30px;
  padding: 22px 59px;
  border: 2px solid #ea3838;
}

.overlay:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #ea3838;
  text-decoration: none;
}

.region-title {
  color: white;
}

.overlay:hover .region-title {
  color: #ea3838;
}

// BUTTONS
.add-wrap-div {
  padding: 200px 0 300px 0;
  background-color: white;
}

// ADD NEW

.title-add {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 40px;
  margin-bottom: 10px;
}

.footer {
  color: black;
  padding-top: 35px;
  padding-bottom: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:100px;
}

footer > div > p {
  color: #777777;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer > div > p > a {
  color: #777777;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer > div > p > a:hover {
  color: #ea3838;
}
