.wrap-div {
  background-color: white;
  border: 2px solid #ea3838;
  border-radius: 3px;
  margin-top: 30px;
}

.wraped-imgs {
  margin-bottom: 120px;
}

.all {
  margin-top: 60px;
  padding-left: 0;
  padding-right: 0;
}

.ul-list {
  height: 400px;
  margin-top: 50px;
  background-color: white;
  padding-left: 0px;
  margin: 0% 0% 10% 0%;
}

.div-show {
  overflow: hidden;
  position: relative;
  height: 280px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: default;
}

.img-show {
  width: 250%;
  position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
}

.e-name {
  font-family: 'Kankin';
  color: #ea3838;
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 25px;
}

.title-embrodery {
  border: 2px solid #ea3838;
}

.reg-name-show {
  text-align: left;
  font-family: 'Kankin';
  color: #ea3838;
  font-size: 30px;
  margin-top: 38px;
}

.text-region {
  font-family: Open Sans;
  font-size: 16px;
  text-align: left;
}

.wrap-show-img {
  margin-bottom: 10%;
}


// BUTTONS


.button-add {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 3% 4% 3% 4%;
  float: left;
  border-radius: 2px;
  font-size: 16px;
  font-family: Open Sans;
  cursor: pointer;
  border: 1px solid #4CAF50;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn1 {
  background-color: #4CAF50;
  color: white;
}

.btn1:hover {
  text-decoration: none;
  background-color: white;
  color: #4CAF50;
  border: 1px solid #4CAF50;
}

.button-show {
  text-decoration: none;
  text-align: left;
  font-size: 17px;
  font-family: Open Sans;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn2 {
  color: black;
}

.btn2:hover {
  text-decoration: none;
  color: green;
}

// PAGINATION

.first, .last {
  display:none;
}

  .next, .prev {
  padding: 5px 15px;
  display: inline-block;
  border-radius: 2px;
  background: #DDE3E7;
  font-family: Open Sans;
  font-size: 20px;
  color: #7b8996;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}

.page.current {
  padding: 5px 15px;
  display: inline-block;
  border-radius: 2px;
  font-family: Open Sans;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s;
  padding: 5px 15px;
  background: #4caf50;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.page > a {
  padding: 5px 15px;
  display: inline-block;
  border-radius: 2px;
  background: #DDE3E7;
  font-family: Open Sans;
  font-size: 20px;
  color: #7b8996;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
 }

.page > a:hover {
  background: #4caf50;
  color: white;
  text-decoration: none;
 }

.next:hover, .prev:hover {
  text-decoration: none;
  background: #4caf50;
  color: white;
}

.pagination > .page > a {
  text-decoration: none;
  color: #7b8996;
}

.pagination > .page > a:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

// SHOW EMBROIDERY

.wrapper {
  margin-top: 60px;
  margin-bottom: 130px;
  border: 2px solid #ea3838;
  padding: 60px 40px 0 40px;
}

.name-single-show {
  font-family: 'Kankin';
  color: #ea3838;
  font-size: 40px;
  text-align: left;
}

.navbar-right {
  margin-right: 0;
}

.btn4 {
  float: right;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  padding: 2% 4% 2% 4%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.back-btn {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
}

.delete-btn {
  margin-right: 20px;
  background-color: #ea3838;
  border: 1px solid #ea3838;
}

.back-btn:hover {
  text-decoration: none;
  background-color: white;
  color: #4CAF50;
  border: 1px solid #4CAF50;
}

.delete-btn:hover {
  text-decoration: none;
  background-color: white;
  color: #ea3838;
  border: 1px solid #ea3838;
}

.img-single-show {
  margin-top: 40px;
  width: 100%;
}
