<div class = "container region-container">
  <div class = "row wrap-div-region">
    <% @regions.each do |region| %>
      <div class = "col-md-4">
        <div class = "hovereffect">
          <%= link_to (image_tag region.image,  class:"img-responsive-region"), region %>
          <%= link_to region do %>
            <div class = "overlay">
              <p class = "region-title"><%= region.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
